// .icon {
// 	display: inline-block;
// 	width: 1em;
// 	height: 1em;
// 	fill: currentColor;
// }

.icon-arrow-down {
	display: inline-block;
	vertical-align: middle;
	width: 11rem;
	height: 5.969rem;
}
.icon-astronaut {
	display: inline-block;
	vertical-align: middle;
	width: 20rem;
	height: 25rem;
}
.icon-avatar {
	display: inline-block;
	vertical-align: middle;
	width: 49rem;
	height: 58rem;
}
.icon-blank {
	display: inline-block;
	vertical-align: middle;
	width: 18rem;
	height: 20rem;
}
.icon-calendar {
	display: inline-block;
	vertical-align: middle;
	width: 18.563rem;
	height: 19.969rem;
}
.icon-chat {
	display: inline-block;
	vertical-align: middle;
	width: 16rem;
	height: 13.718rem;
}
.icon-check {
	display: inline-block;
	vertical-align: middle;
	width: 19rem;
	height: 15rem;
}
.icon-clip {
	display: inline-block;
	vertical-align: middle;
	width: 18rem;
	height: 19rem;
}
.icon-clock {
	display: inline-block;
	vertical-align: middle;
	width: 13.719rem;
	height: 13.718rem;
}
.icon-close {
	display: inline-block;
	vertical-align: middle;
	width: 13.25rem;
	height: 13.25rem;
}
.icon-date {
	display: inline-block;
	vertical-align: middle;
	width: 19rem;
	height: 19rem;
}
.icon-datepicker {
	display: inline-block;
	vertical-align: middle;
	width: 22rem;
	height: 16rem;
}
.icon-document {
	display: inline-block;
	vertical-align: middle;
	width: 18rem;
	height: 20rem;
}
.icon-drag {
	display: inline-block;
	vertical-align: middle;
	width: 13rem;
	height: 19rem;
}
.icon-exit {
	display: inline-block;
	vertical-align: middle;
	width: 25rem;
	height: 28rem;
}
.icon-forecasts {
	display: inline-block;
	vertical-align: middle;
	width: 36rem;
	height: 27rem;
}
.icon-home {
	display: inline-block;
	vertical-align: middle;
	width: 25rem;
	height: 24rem;
}
.icon-logo {
	display: inline-block;
	vertical-align: middle;
	width: 49rem;
	height: 58rem;
}
.icon-magnifier {
	display: inline-block;
	vertical-align: middle;
	width: 18.563rem;
	height: 18.563rem;
}
.icon-mapmark {
	display: inline-block;
	vertical-align: middle;
	width: 18rem;
	height: 23rem;
}
.icon-message {
	display: inline-block;
	vertical-align: middle;
	width: 20rem;
	height: 17.125rem;
}
.icon-next {
	display: inline-block;
	vertical-align: middle;
	width: 5.97rem;
	height: 11rem;
}
.icon-number {
	display: inline-block;
	vertical-align: middle;
	width: 16.344rem;
	height: 10.875rem;
}
.icon-pen {
	display: inline-block;
	vertical-align: middle;
	width: 25rem;
	height: 25rem;
}
.icon-pencil {
	display: inline-block;
	vertical-align: middle;
	width: 15.219rem;
	height: 15.218rem;
}
.icon-plus {
	display: inline-block;
	vertical-align: middle;
	width: 11rem;
	height: 11rem;
}
.icon-prev {
	display: inline-block;
	vertical-align: middle;
	width: 6.031rem;
	height: 11rem;
}
.icon-prize {
	display: inline-block;
	vertical-align: middle;
	width: 30rem;
	height: 37rem;
}
.icon-rating {
	display: inline-block;
	vertical-align: middle;
	width: 38rem;
	height: 38rem;
}
.icon-ruble {
	display: inline-block;
	vertical-align: middle;
	width: 11.438rem;
	height: 12.562rem;
}
.icon-setting {
	display: inline-block;
	vertical-align: middle;
	width: 26rem;
	height: 24rem;
}
.icon-target {
	display: inline-block;
	vertical-align: middle;
	width: 21rem;
	height: 21rem;
}
.icon-time {
	display: inline-block;
	vertical-align: middle;
	width: 26rem;
	height: 26rem;
}
.icon-tournaments {
	display: inline-block;
	vertical-align: middle;
	width: 30rem;
	height: 37rem;
}
.icon-user {
	display: inline-block;
	vertical-align: middle;
	width: 20rem;
	height: 21rem;
}
.icon-view-type-1 {
	display: inline-block;
	vertical-align: middle;
	width: 20rem;
	height: 20rem;
}
.icon-view-type-2 {
	display: inline-block;
	vertical-align: middle;
	width: 20rem;
	height: 19rem;
}
.icon-wallet {
	display: inline-block;
	vertical-align: middle;
	width: 23rem;
	height: 19rem;
}

